
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    font-family: sans-serif;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*main {
    width: 90%;
    height:  90%;    
    display: flex;
    flex-direction: column;
    justify-content:center;
   
    
}*/



header{
    width: 100%;
    height: 50px;
    background: linear-gradient(0deg, #EA2222, #EA2222);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor{
    width: 98%;
    margin: auto;
}
h1 {
    float: right;
}

input{
    font-weight: bold;
    font-size: 15px;
}
 
#menu-bar{
    display: none;
}
#inicio{
    display: none;
}
#tipo{
    display: none;
}
#debilidad{
    display: none;
}

header label{
    float: left;
    font-size: 28px;
    margin:6px 0;
    cursor: pointer;

}
.menu{
    position: absolute;
    background: linear-gradient(0deg, #EA2222, #EA2222);
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*background: rgba(51, 51, 51, 0.9);*/
    transition: all 0.5s;
    transform: translateX(-100%);
}

header.contenedor{
    display: table;
}

a:link{
    text-decoration:none;

}

a{
    color:white;
}

.menu li {
    display: block;
    color: white;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.submenu{
    margin-top:17px;
    margin-left: -15px;
    position: absolute;
    visibility: hidden;
    width: 100%;
    opacity: 0;
    transition: opacity 1.05s;
}

.submenu li{

    display: block;
    padding: 5px;
    background: linear-gradient(0deg, #EA2222, #EA2222);

}
.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;

}


.menu li:hover{
    background: rgba(63, 63, 63, 1) ;
}
#menu-bar:checked ~.menu{
    transform: translateX(0%);

}
 section{
     width: 100%;
     margin-bottom: 25px;
 }
 
 #banner{
     margin-top: 50px;  

 }

 #root{
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     margin: auto;
     padding: 10px;
 }

img{
    width: 100%;
    height: 100%;
   
}

/*#banner img{
    width: 100%;
    height: 100%;
    order: 1;
}
/*
#banner.contenedor{
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%);
}*/


#text1InitialPage{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    width: 90%;
    height: 90%;
    background: #EA2222;
    mix-blend-mode: normal;
    border-radius: 7px;
    font-family: Arial Narrow;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF9F9;
    mix-blend-mode: normal;
}

#text2InitialPage{
    margin:0 auto;
    justify-content: center;
    width: 90%;
    height: 90%;
    background: #FFBB0E;
    mix-blend-mode: normal;
    border-radius: 7px;
    font-family: Arial Narrow;
    font-style: bold;
    font-weight: bold;
    font-size: 19px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFF9F9;
    mix-blend-mode: normal;
}

footer{
    margin-left: 3%;
    margin-right: 3%;
    margin-top:10%;
    margin-bottom:0%;
    width: 95%;
    height: 95%;
    background: rgba(81, 80, 80, 0.85);
    mix-blend-mode: normal;
    border-radius: 7px;
    font-family: Arial;
    font-style: bold;
    font-weight: bold;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
    color: #FFF8F8;
}

@media (min-width: 600px) {
        .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: ri;
        display: flex;
    }

    .submenu{
        margin-top:16px;
        margin-left: -15px;
        position: absolute;
        visibility: hidden;
        width: 30%;
        opacity: 0;
        transition: opacity 1.05s;
        

    }
    .submenu li{
        display: block;
        padding: 5px;
        background: linear-gradient(0deg, #EA2222, #EA2222);

    }

    #root{
        background-image: url(imagen-inicial.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        margin-top:40px ;
        padding:20%;
    }

    footer{
        align-items: baseline;
        background: rgba(9, 8, 8, 0.42);
   }
    
    #text1InitialPage{
        left: 1.6%;
        right: 69.65%;
        top: 16.78%;
        bottom: 63.22%;  
        background: rgba(0, 0, 0,.6);
    }
    #text2InitialPage{
        float: right;
        background: rgba(0, 0, 0,.6);
    }



    

 
}